<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Starting">
        <activity
            android:name=".auth.PasswordReset"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.App.ToDoList"
            android:exported="false" />
        <activity
            android:name=".home.Settings"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.App.ToDoList"
            android:exported="false" />
        <activity
            android:name=".home.NewTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.App.ToDoList"
            android:exported="false" />
        <activity
            android:name=".home.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.App.ToDoList"
            android:exported="false" />
        <activity
            android:name=".auth.SignUp"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/ThemeApp.Onboarding" />
        <activity
            android:name=".auth.SignIn"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/ThemeApp.Onboarding">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7270738426543727~3048952474" />
    </application>

</manifest>
